body {
  background-color: #3f4144;
  color: #d5d9e0;
  font-size: 0.7rem;
  padding-top: 3px;
}

.table-custom {
  color: #d5d9e0;
}

.table-hover tbody tr:hover {
  color: white;
  background-color: rgb(111, 153, 107);
}

.positive {
  background-color: rgb(35, 97, 35);
}

.paribu {
  background-color: rgb(35, 97, 35);
}

.btcturk {
  background-color: rgb(35, 97, 35);
}

.koineks {
  background-color: rgb(35, 97, 35);
}

.text-center {
  text-align: center;
}
